!! Xterm Appearance 
xterm*font: *-fixed-*-*-*-18-*
xterm*VT100.Translations: #override \
            Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
            Ctrl Shift <Key>C: copy-selection(CLIPBOARD)
